<div class="container-fluid">
    <div *ngIf="formError!=''" class="alert alert-danger" style="text-align:center">{{formError}}</div>
    <div class="login-content">
        <h1>Login</h1>

        <!--login form-->
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <label for="EmployeeId">EmployeeId</label>
            <input class="form-control" id="EmployeeId" type="text" placeholder="enter your EmployeeId" formControlName="EmployeeId" required>

            <!-- error checking for username(required and minimum length should be 3)-->
            <div *ngIf="EmployeeId?.invalid && (EmployeeId?.dirty || EmployeeId?.touched)" class="alert alert-danger">
                <div *ngIf="EmployeeId?.errors?.required">
                    EmployeeId is required.
                </div>
                <div *ngIf="EmployeeId?.errors?.minlength">
                    EmployeeId must be at least 3 characters long.
                </div>
            </div>

            <label for="Password">Password</label>
            <input class='form-control' id="Password" type="Password" placeholder="enter your password" formControlName="Password" required>
            <!-- error checking for password-->
            <div *ngIf="Password?.invalid && (Password?.dirty || Password?.touched)" class="alert alert-danger">
                <div *ngIf="Password?.errors?.required">
                    Password is required.
                </div>
            </div>

            <button type="submit" [disabled]="!userForm.valid" class="btn btn-outline-dark">Sign in</button>
        </form>
    </div>
</div>